<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>etudiant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Your content goes here -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">etudiant</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="takePhoto()">Take Photo</ion-button>

  <ion-img id="capturedImage">
    <!-- Your image source or other attributes go here -->
  </ion-img>

</ion-content>
